body{
    margin: 0; 
    padding: 0;
    background-color: #D9D9D9;
}
.header{
    background-color: #6C6969;
    width: 100%;
    height: 15vh;
    margin-top: -58px;
    padding: 0px;
}
*{
    text-decoration: none;
    box-sizing: border-box;
    
}

.container{
    margin: 58px 390px;
    color: black;
}
.logo-air{
    font-size: 32px;
    margin-left: 120px;
    margin-top: -120px;
    display: flex;
    text-align: center;   
    font-family:'Times New Roman', Times, serif;
    font-style: italic; 
    
}
.header-line-logo{
    display: flex;
    margin: 58px 390px;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 89px;    
    padding-left: 520px;
    margin-top: -230px;
    margin-right: 25px;
}
.nav-item{
    color: black;
    margin-top: -150px;
    margin-right: 55px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 255, .2);
    padding: 1vh;
    
    text-align: center;
}
.gol-rus{
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.616);
    border: 1px solid rgba(128, 151, 202, 0.705);
    border-radius: 20px;
}
.photo-log{
    margin-top: 15px;
}

.img-class{
    margin: 50px;
    margin-left: 10vh;
}

.header-down{
    margin: 90px;
}
.header-title{
    margin-left: 90vh;
    margin-top: -55vh;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.down{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
.header-three{
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    
}
.img-we{
    margin-left: 40vh;
    width: 120vh;
    height: 50vh;      
}
.what-we{
    background-color: #D9D9D9;
    
}
.header-none-stop{
    margin-top: 35vh;
}
.header-photo-three{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;

}
.price-two-tur{
    font-size: 40px;
    font-family:serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
   
}
.price-bac{
    background-color: #D9D9D9;
}
.air-transport{
    font-size: 36px;
    margin-left: 52vh;
    font-style: italic;
}
.reisi-transp{
    font-size: 36px;
    margin-left: 48vh;
    font-style: italic;
}
.city-transp{
    font-size: 36px;
    margin-left: 52vh;
    font-style: italic;
}
.price{
    font-size: 36px;
    margin-left: 52vh;
    font-style: italic;
}
.photo-city{
    float: right;
    margin-right: 50vh;
    margin-top: 5vh;
}
.buttom{
    font-size: 80px; /* Увеличение размера шрифта */
    color: rgb(0, 0, 0);
    border: none;
    float: right;
    margin-top: -9vh;
    margin-right: 25vh;    
}
.but-tton button{
    margin-right: 146vh;
    margin-top: 2vh;
    padding: 10px 30px;
    color: #554747;
    background-color: #ffffff;

}
.photo-cityTwo{
    float: right;
    margin-right: 50vh;
    margin-top: 5vh;
}
.three-down-two{
    font-size: 36px;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin-left: 5vh;
    font-size: 20px;
}
ul{
    font-size: 20px;
    margin-left: 13vh;
    font-family:serif;
    
}
.footer-down-one{
    font-size: 32px;
    margin-left: 19vh;
    margin-top: 17vh;
    text-shadow: 2px 2px 4px rgba(109, 104, 104, 0); /* Тень текста */
    font-weight: 600px;
}
.people-otz{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.rewives-one{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rewives-people{
    margin-left: 20vh;
    margin-top: 5vh;
}
.rewivess-people{
    margin-left: 0vh;
    margin-top: 13vh;
}
.rewives-oneE{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rewivesт-people{
    float: right;
    margin-top: -57.3vh;
}
.photo-wievessc{
    float: right;
    margin-right: 10vh;
}
.rewivecw-people{
    margin-top: 18vh;
}
.buttom-two{
    font-size: 80px; /* Увеличение размера шрифта */
    color: rgb(0, 0, 0);
    border: none;
    float: right;
    margin-top: 1vh;
    margin-right: -25px; 
}
.wieves-one-people{
    margin-right: 9vh;
}
.coments-down{
    position:absolute;
    left: 50%;
    transition: (-50%, 50%);
    font-size: 48px;

}
.header-wieves{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin-top: 15vh;
}
.head-bloc-boss{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}
.head-bloc-boss .comment-block{
    width: 320px;
    height: 380px;
    background: #69676788;
    border-radius: 30px;
    display: flex;
    text-align: center;
    transition: .5s;
    font-size: 18px;

}
.comment-block .item-flou{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.head-bloc-boss .comment-block:hover{
    transform: translateY(-18px);

}
.buttomm{
    margin-top: 5vh;
}
button{
    padding: 20px 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    float: right;
    margin-right: 2vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 5px 50px #908A8A;
}
.cont-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-cont{
    text-align: center;
    margin-top: 30vh;
    font-size: 36px;
    font-weight:500;
}
.bloc-svz{
    margin-left: 15vh;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10vh;
}
.img-block-card{
    padding: 0px; 
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: -3vh;
}
.svz-s-nami{
    font-size: 32px;
    font-weight: 500;
    margin-top: 10vh;
    margin-left: 15vh;
}
.imge-footer{
   margin-left: 15vh;
   font-size: 24px;
   font-weight: 600;
}
.carta-yandex{
    float: right;
    margin-top: -35vh;
    margin-right: 5vh;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s;
}
.text-title-footer{
    float: right;
    margin-top: -9vh;
    margin-right: 15vh;
}
.carta-yandex:hover{
    transform:scale(1.2);
}
.user-name{
    margin-left: 15vh;
    margin-top: 15vh;
    font-size: 26px;
    font-style: 600;
}
.holder{
    margin-left: 2vh;
    background-color: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 50px #908A8A;
    padding: 5px 30px;
}
.com-user-name{
    margin-left: 15vh;
    font-size: 26px;
    font-style: 600;
    margin-top: 5vh;
    padding: 0%;
}
.com-fot{
    padding: 10px;
    width: 370px;
    height: 100px;
    margin-left: 15vh;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    resize: none;
    
}


